html {
	background: #000000 url(../images/background.jpg) no-repeat fixed;
	background-position: center top;
	background-size: 100% auto;
}

body {
	background-color: transparent;
}

A.link_icon {
	display: inline-block;
}

SVG.icon {
	width: 16px;
	height: 16px;
}


IMG.icon {
	width: 16px;
	height: 16px;
}

DIV .panel {
	border-radius: 25px;
	background: rgba(255, 255, 255, 0.5);
	text-align: center;
}

DIV .contact_info {
	border-radius: 25px 25px 25px 25px;
	background: rgba(255, 255, 255, 0.0) !important;
	border: 0px;
	width: 100%;
	overflow: hidden;
}


DIV.avatar_container {
	border-radius: 360px;
	overflow: hidden;
}

IMG.avatar {
	width: 100%;
}

DIV.feed_container {
	max-height: 400px;
	overflow: hidden;
}