@import
	url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Raleway:400,300,700)
	;

html {
	background: #000000 url(../images/background.jpg) no-repeat fixed;
	background-position: center top;
	background-size: 100% auto;
}

body {
	font-family: 'Raleway', Tahoma, Verdana, Georgia, sans-serif;
}

/* unvisited link */
a {
	white-space: nowrap;
	color: #0066FF;
	font-weight: bold;
	overflow: hidden;
	/* text-overflow: ellipsis; */
	display: block;
	transition: all 0.5s ease;
}

/* mouse over link */
a:hover {
	color: #FF3300;
	transition: all 0.25s ease;
	letter-spacing: 0.02em;
}

.link_icon {
	width: 16px;
	height: 16px;
	padding-right: 3px;
	color: #565655;
}

img .link_icon {
	align: left;
}

.visible {
	border-radius: 25px;
	background: rgba(255, 255, 255, 0.5) !important;
	height: 100% !important;
	text-align: center;
}

.visible.contact_info_container {
	border-radius: 25px 25px 25px 25px;
	background: rgba(255, 255, 255, 0.0) !important;
	border: 0px;
	width: 100%;
	overflow: hidden;
}

DIV.contact_info {
	background: rgba(255, 255, 255, 0.5) !important;
}

DIV.avatar_container {
	border-radius: 360px;
	overflow: hidden;
}

IMG.avatar {
	width: 100%;
}

DIV.feed_container {
	max-height: 400px;
	overflow: hidden;
}

.grid {
	padding: 0px !important;
}

.grid.inner {
	margin: 0px auto;
}

DIV.empty {
	background: rgba(255, 255, 255, 0.0) !important;
	border: 0px !important;
}