@import
	url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Raleway:400,300,700)
	;

html {
	background: url(../images/background.jpg) no-repeat center center fixed;
	background-size: 100% auto;
}

body {
	font-family: 'Raleway', Tahoma, Verdana, Georgia, sans-serif;
}

.avatar_eye {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	background-color: #802015;
	color: blue;
	overflow: hidden;
	margin: 0 auto;
}

.avatar {
	display: inline-block;
	width: 300px;
	height: 300px;
	/* border-radius: 150px; */
	overflow: hidden;
}

.feed_container {
	max-height: 250px;
	overflow: hidden;
}

.link_icon {
	width: 16px;
	height: 16px;
	align: left;
}

/* unvisited link */
a {
	white-space: nowrap;
	color: #0066FF;
	font-weight: bold;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
	transition: all 0.25s ease;
}

/* mouse over link */
a:hover {
	color: #FF3300;
	transition: all 0.25s ease;
	letter-spacing: 0.01em;
}

.visible {
	border-radius: 10px !important;
	background: rgba(255, 255, 255, 0.75) !important;
	padding: 5px !important;
	height: 100% !important;
}

.contact_info {
	background: rgba(255, 255, 255, 0.25) !important;
	text-align: center;
}

/* Pruebas con CreateiveLinkEffects*/
/* Overwrite CreateiveLinkEffects size */
/* nav a {
	font-size: 1em;
	margin: 0px;
	text-transform: none;
	letter-spacing: normal;
	color: #4D99E0;
}

.cl-effect-15 a {
	color: #ff0000;
	font-weight: 500;
}

.cl-effect-15 a::before {
	color: #4D99E0;
} */