/* html, body {
	height: 100%;
}

html {
	display: table;
	margin: auto;
}

body {
	display: table-cell;
	vertical-align: middle;
} */
body {
	font-family: Tahoma, Verdana, Georgia, Serif;
}

.feed_container {
	max-height: 250px;
	overflow: hidden
}

.circular {
	width: 250px;
	height: 250px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(../images/andresoviedo.jpg) no-repeat;
	margin-left: auto;
	margin-right: auto;
}

.headline {
	text-align: center;
}

.headline h1 {
	margin-bottom: 0;
}

.headline p {
	margin-top: 0;
}