html {
	background: #000000 url(../images/background.jpg) no-repeat fixed;
	background-position: center top;
	background-size: 100% auto;
}

body {
	margin: 0px;
	background-color: transparent;
	font-family: Arial, Helvetica, Times, sans-serif;
	color: rgb(51, 51, 51);
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.panel {
	border-radius: 25px;
	background: rgba(255, 255, 255, 0.5);
	text-align: center;
}

.avatar {
	border-radius: 360%;
}

.panel.avatar_container {
	background: transparent;
}

.panel {
	margin: 10px;
	padding: 10px;
}

.panel a {
	display: block;
}

/* flex layout */

.container {
	display: flex;
	flex: auto;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
}

.panel {
	flex: auto;
}

@media only screen and (min-width: 768px) {
	
	.panel {
		flex: 0 1 300px;
	}
	
	.blog {
		flex: 0 1 600px;
	}
}

@media only screen and (min-width: 1024px) {
	.panel {
		order : 10;
	}

	.avatar_container {
		order : 0;
	}

	.blog {
		flex: 0 1 600px;
		order : 1;
	}

	.contact {
		order : 2;
	}
}

@media only screen and (min-width: 1280px) {

	.blog {
		flex: 0 1 600px;
	}
}

@media only screen and (min-width: 1440px) {

	.blog {
		flex: 0 1 900px;
	}
}





